/*
.contrast (@color) when (luma(@color) >= @luma-upper-break) {
  //darker text for lighter backgrounds
  color:average(darken(@color,30%),#222); }
*/
.mixin-clearfix:before,
.mixin-clearfix:after {
  display: table;
  content: "";
}
.mixin-clearfix:after {
  clear: both;
}
.mixin-hover {
  cursor: pointer;
  background: #240f1a;
  color: #f7edf2;
  border-radius: 8px;
}
.mixin-hover-tocs {
  cursor: pointer;
  background: #240f1a;
  color: #f7edf2;
}
.mixin-border {
  border: black solid 1px;
}
.mixin-border-left-top-right {
  border-left: solid black 1px;
  border-top: solid black 1px;
  border-right: solid black 1px;
  border-bottom: none;
}
.mixin-border-left-right-bottom {
  border-left: solid black 1px;
  border-top: none;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
}
.mixin-border-left-top-bottom {
  border-left: solid black 1px;
  border-top: solid black 1px;
  border-right: none;
  border-bottom: solid black 1px;
}
.mixin-border-top-right-bottom {
  border-left: none;
  border-top: solid black 1px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
}
.mixin-shadow-none {
  box-shadow: none;
}
.mixin-display-table {
  display: table;
}
.mixin-vertical-top {
  display: table-cell !important;
  vertical-align: top;
}
.mixin-vertical-middle {
  display: table-cell !important;
  vertical-align: middle;
}
.mixin-vertical-bottom {
  display: table-cell !important;
  vertical-align: bottom;
}
/* Linear Gradients 2  Color */
/* Center and corner radial gradients */
/* Standard linear gradients for W3C Firefox Opera IE10 Webkit11 */
/* filter:   progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff'); */
/* IE6 & IE7 */
/* filter:~"progid:DXImageTransform.Microsoft.Gradient(GradientType="@type~",StartColorStr="@cs1,~"EndColorStr="@cs2~");" } */
/* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff')"; */
/* IE8+ */
/* Standard radial gradients for W3C Firefox Opera IE10 Webkit11 */
.layout-font {
  font-family: Arial, Helvetica, sans-serif;
}
.layout-body {
  overflow: hidden;
}
.layout-logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background: #999999;
}
.layout-corp {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 0;
  background-image: -moz-linear-gradient(top, #999999, #b3b3b3);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#999999), to(#b3b3b3));
}
.layout-find {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  background: #999999;
}
.layout-tocs {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  bottom: 0;
  background: #999999;
  font-family: Arial, Helvetica, sans-serif;
}
.layout-view {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  background: #cccccc;
  overflow: visible;
}
.layout-page {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: -moz-radial-gradient(center center, farthest-side, #cccccc, #b3b3b3);
  display: none;
}
.layout-back {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  background: #cccccc;
  overflow: visible;
}
.layout-side {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  bottom: 0;
  background-image: -moz-linear-gradient(right, #999999, #b3b3b3);
  background-image: -webkit-gradient(linear, right center, left center, from(#999999), to(#b3b3b3));
  font-family: Arial, Helvetica, sans-serif;
}
.layout-pref {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background: #999999;
}
.layout-foot {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0;
  background-image: -moz-linear-gradient(bottom, #999999, #b3b3b3);
  background-image: -webkit-gradient(linear, center bottom, center top, from(#999999), to(#b3b3b3));
}
.layout-trak {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background: #999999;
}
.layout-menu {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 0;
  background-image: -moz-linear-gradient(top, #999999, #b3b3b3);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#999999), to(#b3b3b3));
}
.layout-logo .text {
  position: relative;
  left: 10px;
  top: 24px;
  color: #AAAAAA;
  font-size: 16pt;
  font-weight: bold;
}
.layout-status {
  padding: 2px 8px 2px 8px;
  color: white;
  font-size: 9pt;
}
.layout-corp .title {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0;
  font-weight: bold;
}
.layout-junk {
  height: 28px;
  top: 5px;
  bottom: 6px;
  width: 14px;
}
html {
  overflow: hidden;
}
.ui-font {
  font-family: Arial, Helvetica, sans-serif;
}
.ui-view {
  width: 100%;
  height: 100%;
  background-color: #333333;
}
.ui-pane {
  background-color: #4d4d4d;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;
  overflow: visible;
  border-radius: 24px;
}
.ui-pane-center {
  position: absolute;
  left: 15%;
  top: 15%;
  width: 70%;
  height: 70%;
  z-index: 3;
  display: table;
}
.ui-pane-table {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
}
.ui-pane-connect > div > ul {
  padding: 0 0 0 20px;
  margin: 0;
}
.ui-pane-center-div {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
}
.ui-pane-icon {
  text-align: center;
}
.ui-pane-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ui-pane-text {
  text-align: center;
  line-height: 1.0;
  margin-top: 4px;
}
.ui-pane-center-div:hover {
  cursor: pointer;
  background: #240f1a;
  color: #f7edf2;
  border-radius: 8px;
}
.ui-pane .panel {
  font-family: Roboto, sans-serif;
  z-index: 2;
}
.ui-pane .image {
  font-size: 2vmin;
  color: white;
  z-index: 1;
}
.ui-pane .label {
  font-size: 3vmin;
  color: white;
  font-weight: bold;
}
.ui-pane .texts {
  font-size: 2vmin;
  color: white;
  line-height: 2vmin;
}
.ui-pane .branch {
  font-size: 2vmin;
  color: white;
  line-height: 3vmin;
}
.ui-pane .roast {
  font-size: 2vmin;
  color: white;
  z-index: 2;
}
.ui-pane .roast:hover {
  color: wheat;
}
.ui-pane .txt {
  font-size: 2vmin;
  color: white;
}
/*
.ui-pane-study-ul     { list-style:none; margin-left:0.1em;  line-height:1.2; margin-top:0; }
.ui-pane-study-li     { }
.ui-pane-study-icon   { text-align:left; display:inline; font-size:120%; }
.ui-pane-study-text   { text-align:left; display:inline; padding-left:0.3em; font-size:120%; line-height:1.0; }
.ui-pane-topic-ul     { list-style:none; margin-left:0.0em;  line-height:1.2; margin-top:0; }
.ui-pane-topic-li     { }
.ui-pane-topic-icon   { text-align:left; display:inline; }
.ui-pane-topic-text   { text-align:left; display:inline;    padding-left:0; }
.ui-pane-topin-ul     { list-style:none; margin:0; padding-left:1em; line-height:0.8; font-size:0.7em; }
.ui-pane-topin-li     { }
.ui-pane-topin-lib    { font-weight:900; font-size:1.2em; }
.ui-pane-topin-icon   { text-align:left; display:inline; }
.ui-pane-topin-text   { text-align:left; display:inline;    padding-left:0; }
.ui-pane-item-ul      { list-style:none; margin:0; padding-left:1em; line-height:0.6; font-size:0.8em; }
.ui-pane-item-li      { }
.ui-pane-item-lib     { font-weight:900; font-size:1.0em; }
.ui-pane-item-icon    { text-align:left; display:inline; }
.ui-pane-item-text    { text-align:left; display:inline; padding-left:0.0em; }
*/
